<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="innovation.dao.WorkDAO">
            
        <insert id="addwork" parameterType="Work" >  
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
    		SELECT LAST_INSERT_ID()  
  		</selectKey>  
 		 insert into works(wid,tid,wname,wintro)  
 		values(#{wid},#{tid},#{wname},#{wintro})  
		</insert>  

         <select id="query" resultType="Work">
            select * from works where tid=#{tid}
         </select>
         
         <select id="query1" resultType="Work">
            select * from works where teachid1=#{teachid1}
         </select>
         
         <select id="query2" resultType="Work">
            select * from works where teachid2=#{teachid2}
         </select>
         
         <update id="updatework" parameterType="Work">
         	update works 
         		set wname=#{wname},
         		    wintro=#{wintro},
         	where wid=#{wid};
         </update>               

</mapper>